<template>
  <div class="container">
    <div class="row justify-content-center mt-4">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">Dashboard</div>

          <div class="card-body">You are logged in!</div>
        </div>
      </div>
    </div>
  </div>
</template>
