<template>
  <nav
    class="navbar navbar-expand-lg d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
  >
    <div class="container">
      <router-link class="navbar-brand" :to="{ path: '/' }"
        >Laravue SPA</router-link
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav mr-right">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{ user.name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <router-link class="dropdown-item" :to="{ path: '/profile' }"
                >Profile</router-link
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" @click="logout">Log Out</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  computed: {
    user: function() {
      return this.$store.getters.getProfile;
    }
  },

  methods: {
    logout: function() {
      this.$store.dispatch("authLogout").then(() => {
        this.$router.go("/");
      });
    }
  }
};
</script>
