<template>
  <div class="container">
    <el-card class="box-card form-signin form-signin mt-4 mb-2">
      <el-header class="font-weight-bold text-center">
        Log In
      </el-header>
      <el-alert
        class="mb-1"
        v-if="authErrors.has('invalid_credentials')"
        :title="authErrors.get('invalid_credentials')"
        :closable="false"
        type="warning"
      ></el-alert>
      <el-form :model="form" ref="loginForm" :rules="rules">
        <el-form-item label="Email" prop="email">
          <el-input
            type="emil"
            v-model="form.email"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item label="Password" prop="password">
          <el-input
            type="password"
            v-model="form.password"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item>
          <el-button
            type="primary"
            :loading="loading"
            @click="login('loginForm')"
            >Login</el-button
          >
        </el-form-item>
      </el-form>
      <div class="text-center">
        <router-link class="btn btn-link" :to="{ path: '/register' }"
          >Sign Up</router-link
        >
        <router-link class="btn btn-link" :to="{ path: '/forgot-password' }"
          >Forgot Password?</router-link
        >
      </div>
    </el-card>
  </div>
</template>
<style scoped>
html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center !important;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  margin: auto;
}

.box-card {
  width: 500px;
}
</style>
<script>
export default {
  data() {
    return {
      form: {
        email: "",
        password: "",
        remember: false
      },
      rules: {
        email: [
          { required: true, message: "Email is required.", trigger: "blur" },
          { type: "email", message: "Invalid email format.", trigger: "blur" }
        ],

        password: [
          { required: true, message: "Password is required.", trigger: "blur" }
        ]
      }
    };
  },
  computed: {
    authErrors() {
      return this.$store.getters.authErrors;
    },

    loading() {
      return this.$store.getters.authStatus === "loading";
    }
  },
  methods: {
    login: function(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          const { email, password, remember } = this.form;
          this.$store
            .dispatch("authRequest", { email, password, remember })
            .then(() => {
              this.$router.push("/dashboard");
            });
        } else {
          return false;
        }
      });
    }
  }
};
</script>
