<template>
    <div class="container">
        <el-card class="box-card form-signin form-signin mt-4 mb-2">
            <el-header class="font-weight-bold text-center">
                Sign Up
            </el-header>
            <el-form :model="form" ref="signupForm" :rules="rules">
                <el-form-item prop="name">
                    <el-input type="text" v-model="form.name" placeholder="Username" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item prop="email">
                    <el-input type="emil" v-model="form.email" placeholder="Email" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item prop="password">
                    <el-input type="password" v-model="form.password" placeholder="Password" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item prop="password_confirmation">
                    <el-input type="password" v-model="form.password_confirmation" placeholder="Password Confirmation" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" :loading="loading" @click="signup('signupForm')">Sign Up</el-button>
                </el-form-item>
            </el-form>
            <div class="text-center">
                Already Sign Up?<router-link class="btn btn-link" :to="{ path : '/login'}">Login</router-link>
            </div>
        </el-card>
    </div>
</template>

<style scoped>
html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center !important;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  margin: auto;
}

.box-card {
  width: 500px;
}
</style>

<script>
export default {
  data() {
    let password_confirmation = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Please input the password again"));
      } else if (value !== this.form.password) {
        callback(new Error("Password confirmation does not match."));
      } else {
        callback();
      }
    };
    return {
      form: {
        name: "",
        email: "",
        password: "",
        password_confirmation: "",
        action: "register"
      },
      rules: {
        name: [
          { required: true, message: "What is your name?", trigger: "blur" }
        ],
        email: [
          { required: true, message: "What is your email?", trigger: "blur" },
          { type: "email", message: "Invalid email format.", trigger: "blur" }
        ],

        password: [
          {
            required: true,
            message: "What is your password?.",
            trigger: "blur"
          }
        ],

        password_confirmation: [
          { validator: password_confirmation, trigger: "blur" }
        ]
      }
    };
  },
  computed: {
    loading() {
      return this.$store.state.user.status === "loading";
    }
  },
  methods: {
    signup: function(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          const {
            name,
            email,
            password,
            password_confirmation,
            action
          } = this.form;
          this.$store
            .dispatch("authRequest", {
              name,
              email,
              password,
              password_confirmation,
              action
            })
            .then(() => {
              this.$router.push("/dashboard");
            });
        } else {
          return false;
        }
      });
    }
  }
};
</script>
