<template>
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-md-8">
                <el-card>
                    <div slot="header" class="clearfix">
                        <span>Edit Profile</span>
                    </div>
                    <el-form label-position="top" :model="form" ref="profile" :rules="rules">
                        <el-form-item label="Name" prop="name">
                            <el-input v-model="form.name"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" :loading="loading" @click="updateProfile('profile')">Login</el-button>
                        </el-form-item>
                    </el-form>
                </el-card>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                rules: {
                    name : [
                        { required: true, message: 'What is your name?', trigger: 'blur'},
                    ]
                }
            }
        },

        computed : {
            form : function () {
                return {
                    name: this.$store.state.user.profile.name
                }
            },
            loading() {
                return this.$store.state.user.status === 'loading';
            }
        },

        methods: {
            updateProfile : function (formName) {
                this.$refs[formName].validate((valid) => {
                    if(valid) {
                        const { name } = this.form
                        this.$store.dispatch('updateProfile', { name }).then(() => {

                        })
                    } else {
                        return false
                    }
                })
            }
        },
    }
</script>

